<div class="container main-container"><br>
<h2 class="animate fadaIn fast">Cocktail App</h2>
<hr>
<p class=" animated fadeIn ">
        Cocktail App presenta recetas de cócteles que te encantarán, maravillosamente detalladas con sus respectivos ingredientes y descripción, además podrás visualizar un video instructivo para que puedas preparlos.

            
</p>
      
<p>Fue creada para todos los que quieran aprender a preparar cócteles. Si desea trabajar en un bar de cócteles, restaurantes y locales de alta gama en todo el mundo como barman de cócteles, " Cocktail App " es exactamente lo que está buscando.</p>
   

<br><br>

<h4>DESARROLLADO POR:</h4>
<h5>Karla Cueva</h5>
<h5>Gabriela Astudillo</h5>
<br><br><br>

<h4>PROGRMACIÓN VII</h4>
<h5>DOCENTE: Ing. Oscar Cárdenas</h5>
</div>