<header class="main-header ">
    <div class="background-overlay text-white py-5">
        <div>
            <div class="row py-5">
                <div class="col-md-5 col-lg-5 col-center text-center">
                    <br><br>
                    <h2>Cocktail App presenta recetas de cockteles que te encantarán</h2><br><br>
                    <p>Esta aplicación web incluye recetas de los cockteles más populares en el mundo que generalmente se sirven a bordo de cruceros de lujo, hoteles de 5 estrellas, bares y restaurantes exclusivos.</p><br><br>
                    <a class="btn btn-primary btn-lg" [routerLink]="['/cocktail']">
                        Ver recetas de cockteles
                    </a>
                </div>                
            </div>
        </div>
    </div>
</header>